<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BankDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F06C6B8B1C1EBC4400B2BB4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F06C6BA41C1EBC4400B2BB4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F06C6BAF1C1EBC4400B2BB4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
